<div class="row">
  <div class="col-md-4">

    <h3>Selecciones archivos</h3>
    <div appNgDropFiles
         [archivos]="archivos"
         [ngClass]="{'file-cover': estaSobre}"
         (mouseSobre)="pruebaSobre($event)"
         class="well drop-zone">
        <h4>Deje caer aquí los archivos</h4>
        <img src="assets/drop-images.png" alt="">
    </div>
  </div>

  <div class="col-md-8">
      <h4>Cargar archivos</h4>
      <button type="button"
              name="button"
              class="btn btn-table-success"
              (click)="cargarImagenes()"
              [disabled]="archivos.length==0">
        Cargar a Firebase
      </button>
      <button type="button"
              name="button"
              (click)="limpiarArchivos()"
              class="btn btn-table-danger">
        Limpiar
      </button>

      <table class="table">
          <thead class="thead=dark">
              <tr>
                <td>Numbre archivo</td>
                <td>Tamaño</td>
                <td>Progreso</td>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let archivo of archivos">
                  <td>{{archivo.nombreArchivo}}</td>
                  <td>{{archivo.archivo.size / 1024/1024 | number: .2-2}}</td>
                  <td>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}">

                          </div>
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
